# ── Dependencies ──────────────────────────────────────────────────────────────
node_modules/


# ── Lockfiles: ignore package-lock ──────────────────────────
package-lock.json
.gitignore

# ── Environment variables ─────────────────────────────────────────────────────
.env
.env.*
!.env.example

# ── Logs ─────────────────────────────────────────────────────────────────────
*.log
npm-debug.log*

# ── Testing ───────────────────────────────────────────────────────────────────
playwright-report/
test-results/

